---
import { cn } from "../lib/utils";

interface Props {
    className?: string;
    colSpan?: string; // e.g., "md:col-span-6"
    rowSpan?: string; // e.g., "md:row-span-2"
    noHover?: boolean;
}

const {
    className,
    colSpan = "md:col-span-3",
    rowSpan = "md:row-span-1",
    noHover = false,
} = Astro.props;
---

<div
    class={cn(
        "bg-canvas relative overflow-hidden group transition-all duration-500",
        colSpan,
        rowSpan,
        className,
    )}
>
    <!-- Hover "Fill" Effect -->
    {
        !noHover && (
            <div class="absolute inset-0 bg-acid/0 group-hover:bg-acid/100 transition-colors duration-300 z-0"></div>
        )
    }

    <div class="relative z-10 h-full w-full">
        <slot />
    </div>
</div>
