name: release

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: simple

      - name: Auto-merge Release PR
        if: steps.release.outputs.pr
        run: gh pr merge ${{ steps.release.outputs.pr }} --auto --squash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
